---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "January, 2025 - Present",
    title: "Research Assistant",
    company: "Big-Matrix R&D Lab.",
description:
  "I contribute to the development of advanced software solutions, including a breast mammography segmentation tool using React.js, now utilized in hospitals for analyzing real mammography scans. I also develop responsive and user-friendly frontends for EdTech platforms using React.js, enhancing student engagement and improving access to online learning resources."},
  {
    date: "May, 2024 - August, 2024",
    title: "Software Developer Intern",
    company: "Perceptron BD.",
    description:
  "I contribute to the frontend development of an EdTech startup’s website using React.js, integrating seamless login and signup functionality with Google Firebase to enhance user experience. Additionally, I assist in backend development for a restaurant chain’s website using Express.js, designed to efficiently handle over 1,000 daily customers, ensuring scalability and optimal performance.",
  },
  
];
---

<div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
